$color-primary: #0084B4;
$color-secondary: darken($color-primary, 10%);
$white: #fff;

.logo {
  height:150px;
  margin: 1em auto; 
}

.homepageHeader {
  background: $color-primary;
  color: white;
  text-align: center;

  h2 {
    margin: 0;
    line-height: 3em;
  }
}

.commonHeader {
  background: $color-primary;
  height: 100px;
  color: white;
  text-align: center;
}