$color-primary: #0084b4;
$color-secondary: #2f537b;
$white: #fff;

.siteFooter {
  background: $color-secondary;
  text-align: center;

  :global .content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    color: $white;

    p {
      margin-bottom: 0;
      line-height: 50px
    }
  }
}
